@import './styles/partials/variables';

.nav {
  padding: 0 20px;
  display: flex; 
  align-items: center;
  position: absolute;
  justify-content: space-between;
  height: 10vh;
  width: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  &__icon {
    height: 70px;
  }
  &__linksContainer {
    display: flex;
    width: 30%;
    justify-content: space-around;
  }
  &__link {
    color: white;
  }
}

@media #{$phone} {
  .nav {
    &__linksContainer {
      width: 45%;
    }
  }
}
