@import './styles/partials/variables';

.profile {
  &__backgroundPhoto {
    position: relative;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 100vw;
    background-image: url('/assets/images/default-background.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 60vh;
  }
  &__mainContent {
    display: flex;
    padding: 200px 0 50px 0;
    display: flex;
    height: auto;
    background-color: #DEDEDE;
    flex-direction: column;
    align-items: center;
  }
}

@media #{$phone} {
  .profile {
    &__mainContent {
      padding: 90% 0 50px 0;      
    }
  }
}

@media #{$phone-small} {
  .profile {
    &__mainContent {
      padding: 100% 0 50px 0;      
    }
  }
}
